name: Update Exodus Cask

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:
  pull_request:
    paths:
      - Casks/exodus.rb
      - .github/workflows/update_exodus.yml
  push:
    branches:
      - main
    paths:
      - Casks/exodus.rb
      - .github/workflows/update_exodus.yml

env:
  USER_AGENT: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36"

jobs:
  update-exodus:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Latest version
        id: latest_version
        run: |
          wget --user-agent="${USER_AGENT}" \
              https://www.exodus.com/releases/
          VERSION="$(grep -oE 'hashes-exodus-[^/]+\.txt' index.html | sed -E 's/hashes-exodus-(.+)\.txt/\1/' | head -n 1)"
          rm index.html

          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Update version
        run: |
          VERSION=${{ steps.latest_version.outputs.VERSION }}
          sed -i '' "s/version \".*\"/version \"$VERSION\"/" Casks/exodus.rb

      - name: Update SHA256
        run: |
          VERSION=${{ steps.latest_version.outputs.VERSION }}

          wget --user-agent="${USER_AGENT}" \
              "https://downloads.exodus.com/releases/exodus-macos-arm64-${VERSION}.dmg" \
              -O exodus.dmg
          SHA256="$(shasum -a 256 exodus.dmg | awk '{print $1}')"
          rm exodus.dmg
          sed -i '' "s/sha256 arm:   \".*\"/sha256 arm:   \"$SHA256\"/" Casks/exodus.rb

          wget --user-agent="${USER_AGENT}" \
              "https://downloads.exodus.com/releases/exodus-macos-${VERSION}.dmg" \
              -O exodus.dmg
          SHA256="$(shasum -a 256 exodus.dmg | awk '{print $1}')"
          rm exodus.dmg
          sed -i '' "s/       intel: \".*\"/       intel: \"$SHA256\"/" Casks/exodus.rb

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "Update exodus version and hashes"
          branch: update/exodus
          title: "Update Exodus cask"
          body: "Automated update of exodus cask file."
          base: main
